<p id="notice"><%= notice %></p>

<h1>Listing Collaborators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collaboworks.each do |f| %>
      <tr>
        <td><%= f.account %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


